*{
    margin: 0;
    padding: 0;
    color: -webkit-focus-ring-color;
    text-decoration:none;
}
.manager{
    padding: 0;
    margin: 0;

}
.sidebar{
    position: absolute;
    top:0;
    left:0;
    width:18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(2000deg,#517fa4,#243949);
    align-items: center;
    justify-content: center;
}
.sidebar>.photo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px red solid;
}
.sidebar-desp{
    color: white;
    font-weight: 400;
    font-family:Helvetica;
    font-size: 1.4em;
}
.item{
    flex:30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item:hover{
    font-size: 1.1em;
    box-shadow: coral 0px 0px 0px 3px;
}
.container{
    position: absolute;
    width: 82%;
    height: 100%;

    right: 0;
    up:0;
    background-image: -webkit-linear-gradient(right,aliceblue,lightcoral,lightskyblue,antiquewhite);
}
.m-item{
    width:100%;
    height: 100%;
}
.m-person-head{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 20px;
    color: aliceblue;
}
.m-item-item{
    padding:10px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.m-item-item:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.user-info-item{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-info-item-name{
    text-align: center;
    flex: 20%;
}
.user-info-item-desc{
    text-align: left;
    flex:80%;
}
.m-item-item{
    width: 100%;
    height: 80px;
    border:1px solid white;
}
.m-item-item>button{
    background-image: -webkit-linear-gradient(right,aliceblue,lightcoral,lightskyblue,antiquewhite);
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
}
.m-item-item:hover{
    font-size:1.3em;
}
